body {
    background-color: #333333;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
}
